
button {
  border-radius: 30px;
  border: 1px solid transparent;
  padding: 0.6rem 1rem;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: sans-serif;;
  background-color: #45ca71;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 1rem;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 20px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

rect {
  pointer-events: all;
  fill-opacity: 0;
  stroke-opacity: 0;
  z-index: 1;
}

.tooltip {
  padding: 15px;
  background-color: #BCFBBC;
  color: #2E33CC;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  opacity: 1;
  font-size: 16px;
  left: 50%; 
  top: 180px !important;
  transform: translateX(-50%); 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
  
}

#container-box {
  background-color: #BCFBBC;
  font-size: 2vh;
  color: #2E33CC;
  text-align:center;
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html{
  font-size:1rem;
  margin: 0;
  padding: 0;
}

#chart-container {
  background-color: white;
  width: 100% !important;
  text-align: center

}

#chart-title {
  font-size: 4rem;
  font-weight: bold;
  color: #2E33CC; 
  text-align: center;
  margin: 1rem; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}

.source-credit {
  font-size: 3rem;
  font-family: sans-serif;
  text-align: center
}

#text {
  font-size: 2rem;
  font-weight: bold;
  color: #2E33CC; 
  text-align: center;
  margin: 0.001rem 0; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}

#everything {
  background-color: #BCFBBC;
}

body{
  font-size: 2rem;
  font-weight: bold;
  color: #2E33CC; 
  text-align: center;
  margin: 0.001rem 0; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}