
button {
  border-radius: 30px;
  border: 1px solid transparent;
  padding: 0.6em 1em;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 20px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

rect {
  pointer-events: all;
  fill-opacity: 0;
  stroke-opacity: 0;
  z-index: 1;
}

.tooltip {
position: absolute;
padding: 10px;
background-color: steelblue;
color: white;
border: 1px solid white;
border-radius: 10px;
display: none;
opacity: .75;
}

#container-box {
  background-color: darkblue;
  font-size: 2vh;
  color: green;
  text-align:center;
  flex: auto;
  

}

html{
  font-size:10px;
  margin: 0;
  padding: 0;
}

#chart-container {
  background-color: white;
}

.chart-title {
  color: black;
}